.fly2 {
    position: absolute;
    top: 10px;
    left: 1700px;
    animation: floating-horizontal 4s infinite ease-in-out;
}

@keyframes floating-horizontal {
    0% { transform: translate( 0 , 0); }
    50% { transform: translate( 10px, 0); }
    100% { transform: translate( -0 , -0 ); }
}