.lead__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    background-color: #172ce7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
    padding: 17px 115px 16px 116px;
    position: absolute;
    left: 100px;
    bottom: 120px;
}